*{
    margin:0;
    padding:0;
}


.tela-de-login,
.tela-de-login * {
    box-sizing: border-box;
}

.tela-de-login {
    background: #f2f4f7;
    height: 1080px;
    position: relative;
    overflow: hidden;
}

.frame-31 {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: center;
    height: 1080px;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0px;
}

.frame-27 {
    padding: 0px 19px 0px 19px;
    display: flex;
    flex-direction: row;
    gap: 81px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    align-self: stretch;
    flex: 1;
    position: relative;
}

.frame-7 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 606px;
    height: 197px;
    position: relative;
}

.frame-9 {
    display: flex;
    flex-direction: column;
    gap: 0px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex: 1;
    position: relative;
}

.facebook {
    color: #0866ff;
    text-align: left;
    font-family: 'JosefinSans-Bold', sans-serif;
    font-size: 80px;
    font-weight: 700;
    position: relative;
    align-self: stretch;
}

.o-facebook-ajuda-voc-a-se-conectar-e-compartilhar-com-as-pessoas-que-fazem-parte-da-sua-vida {
    color: #000000;
    text-align: left;
    font-family: 'Inter-Regular', sans-serif;
    font-size: 32px;
    font-weight: 400;
    position: relative;
    width: 606px;
}

.frame-8 {
    padding: 0px 68px 0px 68px;
    display: flex;
    flex-direction: column;
    gap: 44px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 645px;
    min-width: 600px;
    position: relative;
    overflow: hidden;
}

.frame-6 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
    justify-content: center;
    flex-shrink: 0;
    width: 600px;
    min-width: 600px;
    min-height: 187.99px;
    position: relative;
}

.rectangle-1 {
    background: #ffffff;
    border-radius: 8px;
    align-self: stretch;
    flex-shrink: 0;
    height: 480px;
    position: relative;
    box-shadow: 0px 4px 6px 5px rgba(0, 0, 0, 0.01);
}

.frame-10 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
    flex-shrink: 0;
    width: 600px;
    position: relative;
}

.crie-uma-p-gina-para-uma-celebridade-uma-marca-ou-uma-empresa {
    color: #000000;
    text-align: center;
    font-family: '-', sans-serif;
    font-size: 20px;
    font-weight: 400;
    position: relative;
    width: 578px;
}

.crie-uma-p-gina-para-uma-celebridade-uma-marca-ou-uma-empresa-span {
    color: #000000;
    font-family: 'Inter-SemiBold', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.crie-uma-p-gina-para-uma-celebridade-uma-marca-ou-uma-empresa-span2 {
    color: #000000;
    font-family: 'Inter-Regular', sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.frame-3 {
    background: transparent;
    border-radius: 8px;
    border-style: solid;
    border-color: transparent;
    border-width: 1px;
    padding: 16px 24px 16px 24px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 550px;
    height: 61px;
    position: absolute;
    left: 25px;
    top: 146px;
}

.senha {
    color: #9095a4;
    text-align: left;
    font-family: 'Inter-Regular', sans-serif;
    font-size: 24px;
    font-weight: 400;
    position: relative;
    flex: 1;
}

.frame-2 {
    background: transparent;
    border-radius: 8px;
    border-style: solid;
    border-color: transparent;
    border-width: 1px;
    padding: 16px 24px 16px 24px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 550px;
    height: 61px;
    position: absolute;
    left: 25px;
    top: 55px;
}

.e-mail-ou-telefone {
    color: #9095a4;
    text-align: left;
    font-family: 'Inter-Regular', sans-serif;
    font-size: 24px;
    font-weight: 400;
    position: relative;
    flex: 1;
}

.frame-4 {
    background: #0866ff;
    border-radius: 8px;
    padding: 16px 24px 16px 24px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 550px;
    height: 61px;
    position: absolute;
    left: 25px;
    top: 231px;
}

.entrar {
    color: #ffffff;
    text-align: left;
    font-family: 'Inter-Regular', sans-serif;
    font-size: 24px;
    font-weight: 400;
    position: relative;
    width: 70px;
}

.esqueceu-a-senha {
    color: #0866ff;
    text-align: center;
    font-family: 'Inter-Regular', sans-serif;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    left: 227px;
    top: 319px;
    width: 146px;
}

.line-1 {
    flex-shrink: 0;
    width: 550px;
    height: 0px;
    position: absolute;
    left: 25px;
    top: 365px;
    transform: translate(0px, -0.5px);
    ;
    overflow: visible;
}

.frame-5 {
    background: #42b72a;
    border-radius: 8px;
    padding: 16px 24px 16px 24px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 195px;
    position: absolute;
    left: 211px;
    top: 395px;
}

.criar-nova-conta {
    color: #ffffff;
    text-align: left;
    font-family: 'Inter-ExtraBold', sans-serif;
    font-size: 16px;
    font-weight: 800;
    position: relative;
    flex: 1;
}

.frame-29 {
    padding: 23px 855px 23px 855px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 1920px;
    height: 188px;
    position: relative;
}

.frame-28 {
    background: #ffffff;
    padding: 12px 529px 12px 461px;
    display: flex;
    flex-direction: row;
    gap: 0px;
    row-gap: 13px;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: center;
    flex-shrink: 0;
    position: absolute;
    right: 0px;
    left: 0px;
    bottom: 0px;
    top: 0px;
}

.portugu-s-brasil-english-us-espa-ol-fran-ais-france-italiano-deutsch {
    color: #737373;
    text-align: left;
    font-family: 'Inter-Regular', sans-serif;
    font-size: 12px;
    font-weight: 400;
    position: relative;
    width: 893px;
    height: 33px;
}

.line-2 {
    margin-top: -1px;
    border-style: solid;
    border-color: #e1e3e6;
    border-width: 1px 0 0 0;
    flex-shrink: 0;
    width: 983px;
    height: 0px;
    position: relative;
    transform-origin: 0 0;
    transform: rotate(0.058deg) scale(1, 1);
}

.cadastre-se-entrar-messenger-facebook-lite-v-deo-locais-jogos-marketplace-meta-pay-meta-store-meta-quest-meta-ray-ban-meta-ai-instagram-threads-campanhas-de-arrecada-o-de-fundos-servi-os-central-de-informa-es-de-vota-o-pol-tica-de-privacidade-central-de-privacidade-grupos-sobre-criar-an-ncio-criar-p-gina-desenvolvedores-carreiras-cookies-escolhas-para-an-ncios-termos-ajuda-carregamento-de-contatos-e-n-o-us-arios {
    color: #737373;
    text-align: left;
    font-family: 'Inter-Regular', sans-serif;
    font-size: 12px;
    font-weight: 400;
    position: relative;
    width: 903px;
    height: 55px;
}

.meta {
    color: #878d93;
    text-align: left;
    font-family: 'Inter-Bold', sans-serif;
    font-size: 12px;
    font-weight: 700;
    position: relative;
}

.copyright-line-1 {
    flex-shrink: 0;
    width: 15px;
    height: 15px;
    position: relative;
    overflow: visible;
}

._2024 {
    color: #878d93;
    text-align: left;
    font-family: 'Inter-Bold', sans-serif;
    font-size: 12px;
    font-weight: 700;
    position: relative;
}

.frame-11 {
    background: #f5f6f7;
    border-radius: 3px;
    border-style: solid;
    border-color: #d1d5d9;
    border-width: 1px;
    padding: 16px 24px 16px 24px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 40px;
    height: 27px;
    position: relative;
}

.div {
    color: #9095a4;
    text-align: center;
    font-family: 'Inter-Regular', sans-serif;
    font-size: 24px;
    font-weight: 400;
    position: relative;
    width: 15px;
}

input[type="text"], input[type="password"], textarea {
    border-color: #c9c9cf;
    /* Removendo a borda */
    outline: none;
    /* Remove a borda ao focar */
    padding: 6px;
    /* Adiciona um pouco de padding para espaçamento */
    background-color: #ffffff; /* Cor de fundo opcional */
    width: 550px;
    height: 61px;
    border-radius: 16px;
    
}

input[placeholder="Senha"], input[placeholder="Email ou telefone"]{
    font-size: 18px;
}